{% extends '_base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5 mb-5">
	<div class="row">
		<div class="col-md-8">
			<h5 class="font-weight-bold spanborder"><span>Featured in Street Art</span></h5>
			<div class="card border-0 mb-5 box-shadow">
				<div>
                    <img style="width: 610px; height: 350px;" src="{{ latest_post.post_image.url }}" alt="">
				</div>
				<div class="card-body px-0 pb-0 d-flex flex-column align-items-start">
					<h2 class="h2 font-weight-bold">
					<a class="text-dark" href="{% url 'post-detail-view' slug=latest_post.slug %}">{{ latest_post.title }}</a>
					</h2>
					<p class="card-text">
						 {{ latest_post.introduction }}
					</p>
					<div>
						<small class="d-block"><a class="text-muted" href="./author.html">Favid Rick</a></small>
						<small class="text-muted">{{ latest_post.created_on|date:'F j, Y' }}</small>
					</div>
				</div>
			</div>
			<h5 class="font-weight-bold spanborder"><span>Latest</span></h5>
            {% if posts %}
                {% for post in posts %}
                <div class="mb-3 d-flex justify-content-between">
                    <div class="pr-3">
                        <h2 class="mb-1 h4 font-weight-bold">
                        <a class="text-dark" href="{% url 'post-detail-view' slug=post.slug %}">{{ post.title }}</a>
                        </h2>
                        <p>
                            {{ post.introduction }}
                        </p>
                        <div class="card-text text-muted small">
                            {{ post.author }} in Art
                        </div>
                        <small class="text-muted">{{ post.created_on|date:'F j, Y' }}</small>
                    </div>
                    <img height="120" src="{{ post.post_image.url }}">
                </div>
                {% endfor %}
            {% else %}
                <div>
                    <h2>THERE ARE NO POSTS AVAILABLE AT THE MOMENT</h2>
                </div>
            {% endif %}
			
		</div>
		<div class="col-md-4 pl-4">
			<div class="">
				<h5 class="font-weight-bold spanborder"><span>Popular in Science</span></h5>
				<ol class="list-featured">
					<li>
					<span>
					<h6 class="font-weight-bold">
					<a href="./article.html" class="text-dark">Did Supernovae Kill Off Large Ocean Animals?</a>
					</h6>
					<p class="text-muted">
						 Jake Bittle in SCIENCE
					</p>
					</span>
					</li>
					<li>
					<span>
					<h6 class="font-weight-bold">
					<a href="./article.html" class="text-dark">Humans Reversing Climate Clock: 50 Million Years</a>
					</h6>
					<p class="text-muted">
						 Jake Bittle in SCIENCE
					</p>
					</span>
					</li>
					<li>
					<span>
					<h6 class="font-weight-bold">
					<a href="./article.html" class="text-dark">Unprecedented Views of the Birth of Planets</a>
					</h6>
					<p class="text-muted">
						 Jake Bittle in SCIENCE
					</p>
					</span>
					</li>
					<li>
					<span>
					<h6 class="font-weight-bold">
					<a href="./article.html" class="text-dark">Effective New Target for Mood-Boosting Brain Stimulation Found</a>
					</h6>
					<p class="text-muted">
						 Jake Bittle in SCIENCE
					</p>
					</span>
					</li>
				</ol>
			</div>
		</div>
	</div>
</div>
    
<div class="container pt-4 pb-4">
	<div class="border p-5 bg-lightblue">
		<div class="row justify-content-between">
			<div class="col-md-6">
				<h5 class="font-weight-bold secondfont">Become a member</h5>
				 Get the latest news right in your inbox. It's free and you can unsubscribe at any time. We hate spam as much as we do, so we never spam!
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-6">
						<input type="text" class="form-control" placeholder="First name">
					</div>
					<div class="col-md-6">
						<input type="text" class="form-control" placeholder="Last name">
					</div>
					<div class="col-md-12 mt-3">
						<button type="submit" class="btn btn-success btn-block">Subscribe</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}